.header-s {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 2.25rem;
}
.title-400 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1rem;
}
.title-900 {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 1.25rem;
}
.title-text-field {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 0.875rem;
}
.button-400 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 0.875rem;
}
.subtitle-text-field {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 0.875rem;
}
